.header {
	height: 130px;
	display: flex;
	align-items: center;
	background: linear-gradient(to bottom, rgb(51, 111, 240), white);
	position: sticky;
	align-self: flex-start;
	top: 0;
	z-index: 100;
}

.header-image {
	width: 100px;
	object-fit: contain;
	margin: 0 40px;
	margin-top: 18px;
}

.header-nav {
	display: flex;
	align-self: center;
	flex-direction: row;
	flex: 0.2;
	align-content: stretch;
}
